
<h2>API Code Of Conduct</h2>
<p>So you want to build something using CrisisNET? Great! We are here to give you the data you need to visualizations, applications, and others products that matter. The only thing we ask is that you follow some simple rules.</p>

<h3>Using the CrisisNET API</h3>

<h4>Use your own API key</h4>

<p>Sharing is caring, but not when it comes to your API keys. We rely on API keys to monitor the system’s performance, who is using the API, and to figure out what features to build out next. Each user is required to have their own API key, and you are not permitted to sell or share your API key. The keys are free so everyone can get their own!</p>

<h4>Respect our servers</h4>

<p>Most of CrisisNET’s data is in hot storage; this is why it is so fast! Help us keep costs down by not overloading our servers with huge unnecessary requests. Don’t do anything that would interfere or disrupt any computer or the networks that we use to provide CrisisNET data or that would restrict or inhibit anyone else from using our platform.</p>

<h4>Work with us</h4>

<p>You cannot build another CrisisNET platform using CrisisNET data, even if you call it something else. If you think our platform can be improved, please let us know, but don’t take matters into your own hands without involving us.</p>

<h3>Using CrisisNET Data</h3>

<h4>Prohibited Uses</h4>

<p>We encourage you to build amazing applications, visualizations, analyses and other products using the CrisisNET API but we ask that you not do any of the following with CrisisNET data: You may not charge users solely for access to the CrisisNet data. You may charge people money to use the products and services you create using the CrisisNET API (but not for the data itself).</p>

<p>You may not use CrisisNET data in a manner that:
<ul>
  <li>violates any applicable local, state, national, or foreign laws, regulations, or treaties;</li>
  <li>is offensive or promotes racism, bigotry, hatred or physical harm of any kind against any group or individual;</li>
  <li>is false or misleading;</li>
  <li>promotes, endorses or furthers illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
  <li>bullies, defames, harasses or advocates stalking of, or the intimidation another person;</li> 
  <li>would endanger anyone's safety; or</li>
  <li>infringes another person’s rights.</li>
</ul>

<p>We reserve the right to require that you provide us with examples of your intended use of CrisisNET data.</p>

<h4>Give CrisisNET credit</h4>

<p>CrisisNET is free but in return, we ask that you give us some credit (and a link) for helping you out. Why? Because CrisisNET is built by Ushahidi, a 501(c)3 non-profit, and we rely on foundations and other funders to maintain and build the platform. Every time you give CrisisNET credit, you help prove the value of CrisisNET and support its existence.</p>

<p>Examples of giving credit:</p>

<p>“This application uses UNHCR, World Bank, and Twitter data, pulled from CrisisNET.”</p>

<p>“Data source: UNHCR, World Bank, and Twitter, sourced from CrisisNET”</p>

<h4>Be yourself</h4>

<p>Built something great? Awesome! Give us some credit, but don’t make it confusing to your readers/users as to who made it. We made the data available but, you made it into something meaningful. Make that clear to users. Do not impersonate another person, company or organization or represent yourself as affiliated with us unless it’s true.</p>

<h4>Respect the rules of the original data sources</h4>

<p>Individual data sources that are available through the CrisisNET platform may have their own rules around how their data can be used and displayed (such as license rights, prohibited use, attribution, etc.). Those rules are located with each data source’s usage information. Respect those rules at all times – otherwise that data may be removed by the data source and no longer used.</p>

<h3>Submitting Data to CrisisNET</h3>

<h4>Take, but make sure to give as well</h4>

<p>We want you to use data from CrisisNET, that’s why we built it! The platform, however, is only as useful as the data it contains, so if you have some great data you think people would find useful, help us out and use one of the many ways we have to share your data with CrisisNET. But please don’t send us data and information that would violate the prohibited uses we have outline above.</p>