<div class="row">
  <h2>API Code Of Conduct</h2>
  <p>So you want to build something using CrisisNET? Great! We are here to give you the data you need to visualizations, applications, and others products that matter. The only thing we ask is that you follow some simple rules.</p>
</div>

<div class="row">
  <h4>Respect the terms of service</h4>

  <p>Remember that terms of service you agreed to when signing up? Well, it’s here to protect all of us. Read it. Follow it.</p>
</div>

<div class="row">
  <h4>Give CrisisNET credit</h4>

  <p>CrisisNET is free. In return, we only ask that you give us some credit (and a link) for helping you out. Why? Because CrisisNET is built by Ushahidi, a 501(c)3 non-profit, and we rely on foundations and other funders to maintain and build the platform. Every time you give CrisisNET credit, you help prove the value of CrisisNET and support it’s existence.</p>

  <p><strong>Examples of giving credit</strong>:</p>

  <p><em>“This application uses UNHCR, World Bank, and Twitter data, pulled from CrisisNET.”</em></p>

  <p><em>“Data source: UNHCR, World Bank, and Twitter, sourced from CrisisNET”</em></p>
</div>

<div class="row">
  <h4>Take, but make sure to give as well</h4>

  <p>We want you to pull down data from CrisisNET, that’s why we built it! However, the platform is only as useful as the data it contains, so if you have some great data you think people would love, help us out and use one of the many ways we have to pull it into CrisisNET.</p>
</div>

<div class="row">
  <h4>Respect the licensing information</h4>

  <p>The CrisisNET platform can be used for commercial and non-commercial purposes. However, individual data sources in the CrisisNET platform will have their own rules around how their data can be used. We make it easy to find each data source’s license information: it’s attached to every document pulled from the API. Please respect it at all times.</p>
</div>

<div class="row">
  <h4>Use your own API key</h4>

  <p>Sharing is caring, but don’t share API keys. We rely on API keys to monitor the system’s performance and help us figure out what features to build out next. When you share an API key, you make both those tasks more difficult. Anyway, the keys are free.</p>
</div>

<div class="row">
  <h4>Respect our servers</h4>

  <p>Most of CrisisNET’s data is in hot storage; this is why it is so fast! Help us keep costs down by not overloading our servers with huge unnecessary requests.</p>
</div>

<div class="row">
  <h4>Be yourself</h4>

  <p>Built something great? Awesome! Give us some credit, but don’t make it confusing to your readers/users as to who made it. We made the data avaliable, you made it into something awesome. Make that clear to users.</p>
</div>