<div class="row">
  <h1>Item Documentation</h1>
  <hr>
  <h2>The Item Document</h2>
  <p>Here's an example document returned from the <code>/item</code> endpoint. <a href="#filters">Instructions for filtering <code>item</code> documents</a> are below.</p>
  <pre class="prettyprint">
{
    content: "شاركوها عل أحدا يراها وبنتخي رغم موت النخوة ورديفاتها ↵↵بطل سوري بعد كلامه لا كلام يقال ↵↵رسالة سوري إلى العالم ↵صرخة سوري مخنوق من الألم والقهر",
    summary: "شاركوها عل أحدا يراها وبنتخي رغم موت النخوة ورديفاتها ↵↵بطل سوري بعد كلامه لا كلام يقال ↵↵رسالة سوري إلى العالم ↵صرخة...",
    contentEnglish: "Shared her at anyone he sees and Bnteje despite the death of chivalry and Rdevatha↵↵Syrian hero after his words are not the words said↵↵Syrian message to the world↵Syrian smothered cry of pain and oppression",
    createdAt: "2014-05-31T20:32:35.911459",
    fromURL: "http://facebook.com/239595936238619",
    geo: {
        addressComponents: {
            adminArea1: "Syria",
            formattedAddress: "Syria"
        },
        coords: [
            38.473472595214844,
            35.03312683105469
        ]
    },
    id: "BBBuOiVFTraJK1P9uSoyYg",
    image: "https://fbcdn-vthumb-a.akamaihd.net/hvthumb-ak-xfp1/t15.0-10/10417178_239596059571940_239595936238619_33535_363_b.jpg",
    language: {
        code: "ar"
        name: "Arabic"
        nativeName: "العربية"
    },
    license: "facebook",
    lifespan: "temporary",
    publishedAt: "2014-05-31T20:25:29+00:00",
    remoteID: "239595936238619",
    source: "facebook",
    tags: [
        {
            confidence: 1,
            name: "death"
        }
    ],
    updatedAt: "2014-05-31T20:32:43.784292",
    video: "https://fbcdn-video-a.akamaihd.net/hvideo-ak-xpf1/v/t42.1790-2/10434898_239596049571941_1873801345_n.mp4"
}
  </pre>
  <table class="table table-striped table-bordered">
    <thead><tr>
    <th>Property Name</th>
    <th>Description</th>
    <th>Type</th>
    </tr></thead>
    <tbody>
    
    <tr>
    <td><em>content</em></td>
    <td>Full-length description for this item.</td>
    <td>string</td>
    </tr>
    
    <tr>
    <td><em>summary</em></td>
    <td>Either the item title, or truncated content. The content property is sometimes very long, so this is helpful for displaying item data in lists or other visualization where space is limited.</td>
    <td>string</td>
    </tr>
    
    <tr>
    <td><em>contentEnglish</em></td>
    <td>Machine-translated content for non-English items.</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>createdAt</em></td>
    <td>Datetime at which the item was indexed in CrisisNET.</td>
    <td>string in format %Y-%m-%dT%H:%M:%S.%f <small>(<a href="https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior">format code explanation</a>)</small></td>
    </tr>

    <tr>
    <td><em>fromURL</em></td>
    <td>Fully-formed URL where this item can be found online.</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>geo</em></td>
    <td>Object containing geospatial information.</td>
    <td>object</td>
    </tr>

    <tr>
    <td><em>geo.addressComponents</em></td>
    <td>Object containing address information</td>
    <td>object</td>
    </tr>

    <tr>
    <td><em>geo.addressComponents.admin1-admin5</em></td>
    <td>Country, region, sub-region and city strings</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>geo.addressComponents.formattedAddress</em></td>
    <td>Full address string using whichever admin1-admin5 properties are available</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>geo.coords</em></td>
    <td>Longitude, latitude pair</td>
    <td>array of floats</td>
    </tr>

    <tr>
    <td><em>id</em></td>
    <td>Unique identifier for this document in CrisisNET</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>image</em></td>
    <td>Fully-formed URL of an image asset associated with this item</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>language</em></td>
    <td>Object containing information about the item's original language</td>
    <td>object</td>
    </tr>

    <tr>
    <td><em>language.code</em></td>
    <td>Two-letter ISO code</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>language.name</em></td>
    <td>English name for this language</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>language.nativeName</em></td>
    <td>Name of this language in its native character set</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>license</em></td>
    <td>Name of license applied to this document. Use this in conjunction with the <code>/license</code> endpoint</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>lifespan</em></td>
    <td>The item's temporal relevance. The location of a police station is <code>permanent</code>, a report from social media is <code>temporary</code></td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>publishedAt</em></td>
    <td>Datetime at which this item was published at its original source</td>
    <td>string in format %Y-%m-%dT%H:%M:%S.%f <small>(<a href="https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior">format code explanation</a>)</small></td>
    </tr>

    <tr>
    <td><em>remoteID</em></td>
    <td>Unique identifier of this document at its original source</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>source</em></td>
    <td>Name of the original provider of this item. Use in conjunction with the <code>/source</code> endpoint</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>tags</em></td>
    <td>Array of objects used for categorization and other metadata. Use the <code>/system-tags</code> endpoint for a full list of available tags.</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>tags.confidence</em></td>
    <td>The relative degree of confidence that this tag has been accurately applied.</td>
    <td>number between 0 and 1, where 1 is absolute confidence</td>
    </tr>

    <tr>
    <td><em>tags.name</em></td>
    <td>Tag name. Whenever possible this will be consistent from item to item.</td>
    <td>string</td>
    </tr>

    <tr>
    <td><em>updatedAt</em></td>
    <td>Datetime at which this item was last updated by CrisisNET</td>
    <td>string in format %Y-%m-%dT%H:%M:%S.%f <small>(<a href="https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior">format code explanation</a>)</small></td>
    </tr>

    <tr>
    <td><em>video</em></td>
    <td>Fully-formed URL of a video asset associated with this item</td>
    <td>string</td>
    </tr>
    </tbody>
  </table>

  <hr>

  <h2 id="filters">Filtering Data</h2>
  <p>Use filters to shape your item data stream in whatever way makes the most sense for your use case.</p>
  <table class="table table-striped table-bordered">
    <thead><tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type/Example</th>
    </tr></thead>
    <tbody>
    <tr>
    <td><em>before</em></td>
    <td>Only retrieve records before this date/time.</td>
    <td>timestamp in ISO 8601 format: <code>YYYY-MM-DDTHH:MM:SSZ</code> eg <code>before=2014-02-10T10:50:42.389Z</code>
    </td>
    </tr>
    <tr>
    <td><em>after</em></td>
    <td>Only retrieve records after this date/time.</td>
    <td>timestamp like <code>before</code>
    </td>
    </tr>
    <tr>
    <td><em>tags</em></td>
    <td>Get records matching <em>all</em> of these tags (get the full list of available tags from the <code>/system-tag</code> endpoint, described below).</td>
    <td>comma-separated list of strings eg <code>tags=health,injury</code>
    </td>
    </tr>
    <tr>
    <td><em>text</em></td>
    <td>Full-text search on summary, content and tags.</td>
    <td>url-formatted string eg <code>text=needle+in+haystack</code>
    </td>
    </tr>
    
    <tr>
    <td><em>location</em></td>
    <td>Coordinates around which to search.</td>
    <td>coordinate pair of longitude, latitude eg <code>location=36.821946,-1.292066</code>
    </td>
    </tr>

    <tr>
    <td><em>distance</em></td>
    <td>Get records within x meters of <code>location</code>. Defaults to 200.</td>
    <td>number in kilometers, eg <code>distance=10</code>
    </td>
    </tr>

    <tr>
    <td><em>placeName</em></td>
    <td>Name of any city, state, region or country</td>
    <td>string, eg<code>placeName=Damascus</code>
    </td>
    </tr>

    <tr>
    <td><em>limit</em></td>
    <td>Limits the number of records returned. Defaults to 25, max is 500.</td>
    <td>number, eg <code>limit=100</code>
    </td>
    </tr>
    <tr>
    <td><em>offset</em></td>
    <td>Useful in conjunction with <code>limit</code> for paginatated through results.</td>
    <td>number, eg <code>offset=25</code>
    </td>
    </tr>
    <tr>
    <td><em>sources</em></td>
    <td>Limit results based on where they originated (outside of CrisisNET)</td>
    <td>comma-separated list of strings eg <code>sources=ushahidi,gdelt</code>
    </td>
    </tr>
    <tr>
    <td><em>licenses</em></td>
    <td>Limit to records with specific licenses. Useful if you're looking for data to use commercially, for example.</td>
    <td>comma-separated list of strings, eg <code>licenses=cc,facebook</code>
    </td>
    </tr>
    <tr>
    <td><em>sortBy</em></td>
    <td>Property used to order result set. Deafults to <code>publishedAt</code>
    </td>
    <td>any valid property name, eg <code>sortBy=title</code>
    </td>
    </tr>
    <tr>
    <td><em>sortDirection</em></td>
    <td>First to last (ascending) or last to first (descending). Deafults to <code>desc</code>
    </td>
    <td>asc for ascending or desc for descending, eg <code>sortDirection=asc</code>
    </td>
    </tr>

    <tr>
    <td><em>hasPhoto</em></td>
    <td>Only return items that have an <code>image</code> property</td>
    <td>boolean, eg<code>hasPhoto=true</code>
    </td>
    </tr>

    <tr>
    <td><em>hasVideo</em></td>
    <td>Only return items that have a <code>video</code> property</td>
    <td>boolean, eg<code>hasVideo=true</code>
    </td>
    </tr>

    <tr>
    <td><em>ids</em></td>
    <td>Retrieve a specific set of item documents based on their <code>id</code> property</td>
    <td>comma-separate list of strings, eg<code>ids=BBBuOiVFTraJK1P9uSoyYg,AAAuOiVasdfK1P9dsfgSoyYg</code>
    </td>
    </tr>

    </tbody>
  </table>
</div>

<br><br>