API Terms of Use

1. For the Record

This is CrisisNET's Terms of Service, that we also refer to as TOS, or "the contract." Throughout the TOS, when we talk about the "CrisisNET API" or "the platform" or "the service" we mean the CrisisNET application programming interface and any documentation and/or tools provided by CrisisNET that you might use to access that API. Things like (but not limited to) our API explorer, official client libraries, and Developer Portal all fall under this heading. When we talk about "we" or "us" or "the most awesome gang of data-slinging rockstars ever" we mean CrisisNET and our parent company Ushahidi. When we talk about "you," we mean you, the person reading this, who has created an account and wishes to use the CrisisNET API. Lastly, when we talk about the "application," we mean whatever it is that you are developing that uses the CrisisNET API.

2. This Really is a Contract, and You Really Have to Agree to it 

Just so we're clear, this is a contract between you and CrisisNET, and you need to read it, understand it, and agree to it before using the CrisisNET API. This contract between you and us begins when you start to use the CrisisNET API. It ends when you are no longer using the platform in any way, or when we decide to stop offering the service. 

3. Our Terms Might Change

Occasionally it will be necessary to make updates to this contract. We will let you know in whatever way we feel is most practical (for example notifications in the Developer Portal, or via email) when we make changes to the TOS. Unless otherwise noted, changes are effective immediately. Please let us know if and when you need clarification about what the changes entail. Keep in mind however that your use of the CrisisNET API constitutes your acceptance of the terms and conditions of the TOS as modified. If you do not agree to the modifications, you are not allowed to use, and should discontinue your use of, the CrisisNET API.

4. What we Expect From You

Please follow the Code of Conduct, and, while this is probably obvious, don't use the CrisisNET API to intentionally harm anyone else, or do anything illegal. That means you agree that you will not use the CrisisNET API for anything that is against the laws of any country or state. Hopefully this doesn't sound melodramatic, but this is crisis data after all, so if we find our that you're abusing the platform we won't let you use it. Beyond that, it's up to you. In addition to the CrisisNET API, the individual software components that power our platform are open source, and released under the MIT License.

5. It's Possible Something Will Go Wrong

We of course anticipate that you will rate your time using CrisisNET as some of the happiest moments of your life. However, as with most software, we make no guarantees as to its availability, accuracy, completeness of the CrisisNET API or the data you may retrieve from that API. Apologies in advance for all the caps but by agreeing to this contract YOU UNDERSTAND AND AGREE THAT THE SERVICES ARE PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS. CRISISNET DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. YOU ASSUME ALL RISKS IN USING THE SERVICE, INCLUDING WITHOUT LIMITATION FOR TRADING OR NATIONAL SECURITY PURPOSES, AND CRISISNET WILL NOT BE LIABLE FOR ANY DAMAGES SUFFERED OR INCURRED BY YOU OR ANY THIRD PERSON ARISING OUT OF ANY FAULTS, INTERRUPTIONS OR DELAYS IN THE SERVICE, ANY CANCELLATION OF ALL OR PART OF THE SERVICE, AND ANY INACCURACIES, ERRORS OR OMISSIONS IN THE SERVICE.

OK? OK. All that shouting was a little intense, but it's common language for this kind of service and important that you understand it -- plus everything is easier to understand when it's shouted (just ask any American traveling abroad). Seriously though, we obviously intend to provide the best service possible but YOU USE THE CRISISNET API AT YOUR OWN RISK. 

Let's move on.

6. Privacy

As you would probably assume, we collect some personal information during registration (name, email, etc), but will not share that information outside of CrisisNET or our parent company Ushahidi without your expressed permission, or if legally compelled to do so. We also collect stats on how our API is used, both to ensure our system remains performant and also to understand how our platform can be improved. While we reserve the right to share aggregate usage data with whoever we want, we won't identify you or your API usage to anyone outside of CrisisNET or Ushahidi (or for that matter anyone inside CrisisNET or Ushahidi who doesn't need to know) without your expressed permission. 

That said, if you want to share what you're working on, please tell us, we love talking about the great things people build with CrisisNET! 

