Create an app.

<form action="/profile/app" method="POST" data-abide>
  <div class="row">
    <div class="large-12 columns">
      <label>Name
        <input required type="text" pattern="[a-zA-Z0-9]+" name="name" placeholder="My Awesome App" />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Description
        <textarea required name="description" placeholder="It makes difficult things easier"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>URL
        <input required name="url" type="url" placeholder="http://mi-awsmr-appio.ly" />
      </label>
    </div>
  </div>

  <button type="submit" class="medium button green">Submit</button>

</form>

