<div class="jumbotron">
  <h1>CrisisNET Developer Portal</h1>
  <p>A firehose of worldwide crisis data.</p>
  <p><a href="/auth/signup" class="btn btn-primary btn-lg" role="button">Get Started</a></p>
</div>
<div class="row">
  <p>CrisisNET gives app developers, data-journalists and other makers fast, easy access to critical government, business, humanitarian, and crowdsourced data. Our API reduces the time it takes to access and use crisis-relevant data from hours (even days) to minutes.</p>
</div>
<div class="row">
  <h2>Quickstart <small>(<a href="/page/documentation">full API docs</a>)</small></h2>
  <p>First <a href="/auth/signup">register</a> and create an app. This will generate an API key you can use to authenticate your API requests.</p>
  <p>Now that you have an API key, CrisisNET data is yours for the taking. A basic request looks like this:</p>
  <pre class="prettyprint">
$.get('http://api.crisis.net/item?placeName=Syria&apikey=YOUR-API-KEY',
  function (data) {
    console.log(data);
  });
  </pre>
  <p>That request was made in JavaScript (using <a href="http://jquery.com/">jQuery</a>). However, because CrisisNET is an HTTP API, you can access it using any language that can make HTTP requests (Python, PHP, Java, etc). Here's the same example in Python using the excellent <a href="http://docs.python-requests.org/en/latest/">requests</a> library:</p>
  <pre class="prettyprint">
import requests

r = requests.get('http://api.crisis.net/item?placeName=Syria&apikey=YOUR-API-KEY')
print r.json()
  </pre>
  <h2>What Kinds of Data Are Available?</h2>
  <p>CrisisNET is designed to rapdily ingest information from any source. We build streams of data on an as-needed basis when we receive requests from the CrisisNET developer community. Interested in a particular region or type of information? You can either <a href="http://github.com/ushahidi/suckapy">contribute to our codebase</a> or <a href="mailto:jonathon@ushahidi.com">contact us</a> with details about the data you'd like and we'll make it happen.</p>

  <h2>What's Next?</h2>
  <p>Now that you understand how to retrieve data from the API, you can start adding filters to your requests, so you only get the information that you want. Also learn about the different data sources in CrisisNET, and how to properly use and credit the information those sources provide.</p>
  <h4><a href="/page/documentation">Check out the documentation</a></h4>
</div>
<br><br>
