<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="/css/app.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
        <style>
          pre.prettyprint {
            border: 0px none;
            padding: 12px;
          }
        </style>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Nav -->
        <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">CrisisNET API</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/page/documentation">Documentation</a></li>
                {{#user}}
                <li><a href="/profile">Your Profile</a></li>
                {{/user}}
              </ul>

              <ul class="nav navbar-nav navbar-right">
                {{#user}}
                <li><a href="/auth/logout">Logout</a></li>
                {{/user}}
                {{^user}}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In/Register <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    

                    <li><a href="/auth/twitter">With Twitter</a></li>
                    <li><a href="/auth/github">With GitHub</a></li>
                 {{/user}}
                  </ul>
                </li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

        </nav>

        
        <!-- Container -->
        <!-- Loading some JS here so it's available to templates -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/lodash.min.js"></script>

        <div class="container" id="container">
          {{{ yield }}}
        </div>

        <!-- Latest compiled and minified JavaScript -->
        <script src="/js/nod.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-50084722-2', 'crisis.net');
          ga('send', 'pageview');

        </script>
    </body>
</html>