<h1>Register, and We'll Rock Your World</h1>
<div class="panel">
  <blockquote>
    <p>My life was a black hole of never-ending-crisis-data darkness. Until I found CrisisNET!</p>
  </blockquote>
  <p>Wish you could get your app up and running in five lines of code? <strong>Look no further my friend</strong>.</p>
  <!-- you can use a code tag or a pre tag* -->
  <pre><code data-language="javascript">
    $.ajax({
      url: 'http://api.crisis.net/item?sources=twitter', 
      beforeSend: function(xhr) { 
        xhr.setRequestHeader('Authorization', 'Bearer 5310e02272d312da7efb93fe'); 
      },
      success: function(data) { console.log(data); }
    });
  </code></pre>
</div>
<div class="well">
  <h4>Step 1. Create an account</h4>
  <p>Signup using your favorite account.</p>
  <ul>
    <li><a href="/auth/twitter">Twitter</a></li>
    <li><a href="/auth/github">GitHub</a></li>
  </ul>
  <p>Don't have a Twitter or GitHub account? Hah, good one. Seriously though just 
    click on the name of whichever service you'd like to use.</p>
</div>
<div class="well">
  <h4>Step 2. Just kidding, there's only one step</h4>
</div>